@CHARSET "ISO-8859-1";

body{
	margin:0;
	background: #164f55;
	font-family:Verdana, Geneva, sans-serif; 
	font-size:11px; 
	line-height:20px; 
    text-align: justify;
    color:#f7c439;
}

fieldset.resource{
	padding:20px;	
	}
	
table.display{
	padding-top:20px;
	line-height:20px; 
    text-align: justify;
}	
	
	
table.display, input.params{
	font-family:Verdana, Geneva, sans-serif; 
	font-size:11px; 
}

div.plots_holder{
	position:relative;
	margin-top:-350px;
	margin-left:300px;
	float:right;

	
	}
	
div.plots_div{
	background-color:#FFF;
	border:1px solid;
	float:left;
	width:500px;
	height:300px;	
}

a{
	color:#FFF;
	}
	
a:hover{
	color:#f7c439;
	}
	