body {
	margin: 2px 0;
	background: #1E4F54;
}

.stateMessage, .bigButton, .normalButton{
	text-align:center;
	font-size:30px;
	font-family:Arial,sans-serif;
	color:Black;
	height:80px;
}

.bigButton{
	width:180px;
}

.stateMessage{
	color:white;
 }
 
.normalButton{
	width:110px;
}

.resourceImg{
	height:150px;
	width:150px;
}

.resource, .resourceInUse{
	height:150px;
	width:150px;
	border:2px solid white;
}

.resourceInUse{
/*	border:5px solid #F4C338;*/
	border:2px solid #FF2222;
}

.available, .busy{
	text-align:center;
	font-size:15px;
	font-family:Arial,sans-serif;
	color: white;
}

.busy{
/*	color: #F4C338;*/
	color: #FF2222;
}

.busyUserInfo{
	text-align:left;
/*	background:#F4C338;*/
	background:#FF2222;
	margin:auto;
	display:table;
	width:150;
	position:relative;
	top:-150px;
	font-size:12px;
}