body {
	margin:0;
	background: #1e4F54;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	/*color: #789095;*/
	color: #567e73;
}

a:hover {
	font-size: 11px;
	border: none;
	color: #aaaaaa;
}

a.asd {
	color: #444444;
	text-decoration:none;
	font-size:12px;
}

a.asd:hover {
	color: #666666;
}

.logo {
	width:100%;
	border: 2px solid #999999 ;
	height: 100%;
}

h1 {
	margin-top:15px;
	font-size: 28px;
	color: #999999;
	text-align:left;
	padding:10px;
}
h2{
	font-size: 18px;
	text-align:left;
	padding:10px;
	color: #999999;
}
td {
	font-size: 12px;
	color: #bbbbbb;
}


a.new {
	color: #FFFFFF;
	text-decoration:none;
	font-size:12px;
	
}

a.new:hover {
	color: #f4c337;
}

hr {
	width:80%;
}

table.equilist {
	width:100%;
	border: 2px solid #999999 ;
	margin:auto;
}
table.equilist td {
	background-color:#dddddd;
	color:#444444;
	width:33%;
}
table.equilist td.title {
	background-color:#FFFFFF;
	color:#bb3322;
	text-align:center;
}

table.equilist td.title_ {
	background-color:#FFFFFF;
	color:#bb3322;
	text-align:center;
}

table.equilist td.title:hover {
	background-color:#f4c337;
}

table.equilist  th {
	background-color:#cccccc;
	font-size: 12px;
	
}

p {
	color:#777777;
	font-size: 12px;
	text-align:center;
}


table.equilist  th:hover {
	background-color:#6D878D;
	font-size: 12px;
}

label {
	color:#aaaaaa;
	font-size: 11px;
	text-align:right;
}

hr {
	color:#bb5555;
	border-style:solid;
	margin:3px;
}

