.inputText, .userList, .selectList{
	width:180px;
}

.selectList, .selectListManager{
	height:150px;
}

.selectListManager{
	width:200px;
}

.optionState1{
	background: #E6EFC2;
}

.optionState2{
	background: #FBE3E4;
}

.buttons, .projects{
	width:120px;
}

.buttons{
	height: 23px;
}

.projects{
	float: right;
	text-align: left;
}

#itemInterfaceDiv{
	display:none;
	background:white;
	margin:auto;
	position:absolute;
	padding:20px;
	-moz-border-radius: 3px;  /* Firefox */
	-webkit-border-radius: 3px;  /* Safari, Chrome */
	border-radius: 3px;  /* CSS3 */
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}