/*
body{
	background: #1E4F54;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #ffffff;
}
*/

.groupViewA{
	text-decoration: none;
	color: black;
	font-size: 11px;
}

.groupViewTd, .weekdayTd, .usage{
	background: white;
	border: 1px solid black;
}

.resourcesNames{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipses;
	width:120px;
}

#weekdaysResources{
	padding: 2px;
	border-collapse: collapse;
	border: 1px solid black;
}

.colorBlock{
	width: 12px;
	height: 12px;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
}

.colorBlockText{
	float: right;
}

.checkLabel{
	text-align:right;
}

.title{
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20px;
	color: #F7C439;
}

.links, .fakeLink{
	padding-left: 5px;
	padding-right: 5px;
}

.links{
	color: #f6961a;
	font-size: 13px;
}

.picLinks{
	vertical-align:middle;
	width:20px;
	height:20px;
}

.weekday, .weekday:hover{
	color: black;
}

.weekdayRed, .weekdayRed:hover{
	color: red;
}

.fakeLink:hover, .usage:hover, .weekday, .weekdayRed{
	cursor: pointer;
}

.weekdayTd{
	text-align: center;
	background-color: white;
}

.weekdayTd:hover{
	background-color: #cccccc;
}

.usage, .weekdayTd{
	padding: 0px;
	margin: 0px;
}

.usageDataShow{
	height: 20px;
	float: left;
}