#container{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
	background: white;
	border: 2px solid #F7C439;
	min-width: 300px;
}

.department, #header{
	background: white;
	width: 100%;
	margin: auto;
	border-collapse: collapse;
}

#header{
	font-weight: bold;
	color: #1e4F54;
	font-size:16px;
}

.department{
	font-weight:600;
	color: black;
	font-size:14px;
}

.projectList{
	list-style-type: none;
	background: white;
	padding: 0px;
}

.activeColumn{
	width: 50px;
	text-align: right;
	padding-right: 5px;
}

.defaultColumn{
	width: 60px;
	text-align: right;
	padding-right: 5px;
}

.all{
	width: 110px;
	text-align: right;
	padding-right: 5px;
}

.listElement{
	padding: 5px 0px 5px 15px;
	font-weight: normal;
}

#departmentList :hover{
	text-decoration:underline;
}

.checkBox{
	float: right;
}

tr, td{
	padding: 5spx;
	margin: 0px;
}

.clear{
	clear: both;
}