.link, .link:visited{
	color: #F7C439;
}

.link:hover{
	color: white;
}

.availableState{
	
}

.inUseState{
	
}

#sampleInterfaceDiv{
	display:none;
	background:white;
	width:340px;
	margin:auto;
	position:absolute;
	padding:20px;
	-moz-border-radius: 3px;  /* Firefox */
	-webkit-border-radius: 3px;  /* Safari, Chrome */
	border-radius: 3px;  /* CSS3 */
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}