body {
	margin:0px;
	background: #1E4F54;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #888888;
}

a {
	text-decoration: none;
	color: #789095;
	font-size: 15px;
}

p {
	text-decoration: none;
	color: #F7C439;
	font-size: 18px;
}
