body {
	margin: 2px 0;
	background: #1E4F54;
}

.redStateMessage, .redBigButton, .stateMessage, .bigButton, .normalButton{
	text-align:center;
	font-size:30px;
	font-family:Arial,sans-serif;
	color:Black;
	height:80px;
}

.redBigButton{
	width:180px;
	color:Red;
}

.bigButton{
	width:180px;
	color:Black;
}

.redStateMessage{
	width:550px;
	color:Red;
}

 .stateMessage{
	width:550px;
	color:Black;
 }
 
.normalButton{
	width:110px;
}

