body{
	margin:0;
	background: #1e4F54;
	font-family:Verdana, Geneva, sans-serif; 
	font-size:11px; 
	line-height:20px; 
    text-align: justify;
    color:#f7c439;
}

table {
	margin: auto;
	font-size: 13px;
}

